<%= render :partial => 'spree/shared/new_search' %>
<div class="social">
  <ul>
    <li><a href="https://twitter.com/NeuCoche"><div id="social_twitter"></div></a></li>
    <li><a href="http://www.facebook.com/neumaticosdecoche"><div id="social_facebook"></div></a></li>
  </ul>
</div>
